<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <title>Springman Weather</title>
</head>

<body>

  <header class="header">

    <a href="/">
      <div class="header__logo">
        <img class="header__logo-img" src="{{url_for('static', filename='img/sunny.png')}}">
        <p class="header__logo-text">Springman Weather</p>
      </div>
    </a>

    <div>
      <input class="header__search-bar" type="text" placeholder="Search">
    </div>

    <div class="header__right">
      <button class="header__search-icon" aria-expanded="false">

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="search-icon">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="close-icon">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>

      </button>

      <button class="header__account-icon" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
      </button>

      <button class="header__menu-toggle" aria-expanded="false">

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="hamburger-icon">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="close-icon">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>

      </button>
    </div>

    <div class="header__menu" data-menu-expanded="false">
      <h2 class="header__menu__title">Menu</h2>
      <ul class="header__menu__nav">
        <li class="header__menu__nav-item">
          <a href="#">Home</a>
        </li>
        <li class="header__menu__nav-item">
          <a href="#">Account</a>
        </li>
        <li class="header__menu__nav-item">
          <a href="#">Weather</a>
        </li>
        <li class="header__menu__nav-item">
          <a href="#">Other</a>
        </li>
      </ul>
    </div>

    <div class="header__search-dropdown" data-expanded="false">
      <input class="header__search-bar" type="text" placeholder="Search">
    </div>

  </header>

  {% block main_content %}
  {% endblock main_content %}

  <script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>

</html>